<div class="container">
<main>
   <h4><span style="background-color:#EFEFEF">　商品一覧　</h4>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item|%>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name,admin_item_path(item.id) %></td>
            <td><%= item.excluding_tax_price %></td>
            <td><%= item.genre.name %></td>
            <td>
             <% if item.is_active == true %>
             <i class="text-success">販売中</i>
             <% else %>
             <i class="text-secondary">発売停止中</i>
             <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</main>
</main>