<div class="complete-img">

  <section class="order-ok wrapper">
    <h2>Order Complete!</h2>
    <p>
      ご注文ありがとうございました。<br>
      またのご利用をお待ちしております。<br>
      <br>
      次回の新作は６月中旬ごろ、<br>
      白桃を使用したケーキやジェラートなどの<br>
      夏を味わう限定商品を予定しております。<br>
    </p>
    <%= link_to "Top", root_path, class: "btn btn-outline-primary d-block" %>
  </section>
</div>