<div class="complete-img">
  
  <section class="order-ok wrapper">
    <h2>Order Complete!</h2>
    <p>
      ご注文ありがとうございました。<br>
      またのご利用をお待ちしております。<br>
      <br>
      次回の新作は６月中旬ごろ、<br>
      白桃を使用したケーキやジェラートなどの<br>
      夏を味わう限定商品を予定しております。<br>
    </p>
    <a href="https://0c1a942e03a148a29155ef1390256621.vfs.cloud9.us-east-1.amazonaws.com/" class="btn btn-outline-primary d-block">Top</a>
  </section>
</div>