<section class="home-hero wrapper">
  <h2>About...</2>
  <p>
    <br>
    Nagano CAKEは長野県内にショップを3店舗構える<br>
    軽井沢発のスイーツブランドです。<br>
    <br>
    林檎や苺などの季節の瑞々しいフルーツをセレクトし、<br>
    ”旬”を重視したスイーツ作りを目指しております。<br>
    <br>
    地元生産者との繋がりも大切に、<br>
    ミルクや卵といった素材にもとことんこだわっています。<br>
    <br>
    今、大変なこの時期だからこそ<br>
    私たちのスイーツの力で皆様に喜びをお届けできたらと考え、<br>
    本ECサイトでの購入・全国発送が可能となりました。<br>
    <br>
    「いつ」でも「どこ」でもご注文いただけますので、<br>
    ご自宅用や今は会えない遠方の方へのプレゼントに<br>
    ぜひご利用ください。<br>
  <p>

  <a href="items_path" class="btn btn-outline-primary">商品一覧を見る</a>




