<div class='container'>
  <div class='row'>
    <h1 class="px-10 mx-auto">About</h1>
    <h2>
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意をご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </h2>
    <!--''内に入れたい画像-->
    <!--書き方1-->
    <!--<img src="" alt="">-->
    <!--書き方-->
    <%= image_tag '' %>
  </div>
</div>

