<div class='container'>
  <div class='row'>
    <div class="px-10 mx-auto">
     <div class="container">



<div class="card" style="max-width: 450px;">
  <div class="d-flex align-items-center justify-content-center" >
   <img class="card-img" src="/assets/Logo.jpeg" alt="">
    <div class="card-img-overlay">
     <p class="text-white">ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない⽅も商品の閲覧はできますが、<br>
      購⼊には会員登録が必要になります。</br>
     </p>
    </div>
   </img>
  </div>
</div>





<h2>新着商品</h2>


<%= link_to "すべての商品を見る", items_path %>
</div>