<div class="container">
	<div class="row">
		<div class="col-md-12">
			
			<div class="main-image">



<div class="home-content">
	
	<p>ようこそ、ながのCAKEへ！
	<br>
	<br>
	<br>
	
		このサイトは、ケーキ販売のECサイトになります。<br>
	   会員でない方も商品の閲覧はできますが、<br>
	   購入には会員登録が必要になります。<br></p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	   
	   <%= link_to "全ての商品を見る", items_path %>